<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/youtube.css">
<!-- <link rel='stylesheet prefetch' href='https://cdn.plyr.io/2.0.13/plyr.css'> -->
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css" />
<style>
   .video-container ul{
       list-style: none;
   }
</style>
<div class="container video-container">
    <div class="column add-bottom">
        <div id="mainwrap">
            <div id="div_main">
                <div id="nowPlay">
                    <span class="left d-none" id="npAction">Duraklatıldı...</span>
                    <span class="center" id="npTitle"></span>
                </div>
                <div id="videowrap">
                    <div id="video0">
                        <video preload id="video1" controls="controls">Tarayıcınız Video Dosyalarını Açamıyor!</video>
                    </div>
                    <div id="tracks" style="text-align: center;">
                        <a id="btnPrev">&larr;</a>
                        <a id="btnNext">&rarr;</a>
                    </div>
                </div>

            </div>
            <div id="plwrap" class="content">
                <ul id="plList"></ul>
            </div>
        </div>
    </div>
</div>

<script>
 
    var playlist = [
    {% for youtube in page.youtubes %}

        {
        "track": {{ forloop.index }},
        "name":  "{{ youtube[0] }}",
        "duration": "{{ youtube[1] }}",
        "file": "{{ youtube[2] }}"
        },

    {% endfor %}

    ];

</script>
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/plyr/2.0.18/plyr.js'></script> -->
<script src="https://cdn.plyr.io/3.7.2/plyr.js"></script>
<script src="{{ site.baseurl }}/assets/js/youtube.js"></script>